./database.sqlite
database/*.*
/database
database/*.*
*.sqlite

public/assets/img/leitos/*.*
public/assets/img/leitos/
./public/assets/img/leitos/
./public/assets/img/leitos/*.*
/vendor/*.*
*.env
./.trae/*.*
.trae/*.*
/.trae/*
*.md

vendor
/vendor
Texto ChamadaCaricatura.txt
